/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.boxA{
	width: 500px;
	padding: 10px;
	margin: 20px auto;
	border: solid 5px #ccc;	
}

.boxA1{
	padding: 20px;
	border: solid 3px #ccc;	
	margin: 20px 30px 40px 10px;
}

.boxA2{
	padding: 40px;
	border: solid 3px #ccc;	
	margin: 10px 20px 10px 10px;
}

.boxA > div{
	border: 1px solid #666;
	margin-bottom: 3px;
	padding: 3px;	
}

.boxB{
	width: 100px;
	height: 100px;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity:40);
}

.boxC{
	width: 100px;
	height: 100px;
	background-color: #000;	
	opacity: 0.4;
	filter: alpha(opacity:40);
}

.color{
	color: #039; 
	background-color: #FCF;	
}

.button{
	font-size: 12px;
	padding: 3px;
	border: solid 1px #333;	
}